{% extends '::base.html.twig' %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block header %}
    <div class="top_green_block">
        <h1 class="text-center">{{ post.title }}</h1>
    </div>
{% endblock %}

{% block body %}
    {% if post is defined %}
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    {% if post.translatable.path1 != '' %}
                        {% set path = '/data/news/'~post.translatable.id~'/'~post.translatable.path1 %}
                        <img class="img-responsive" src="{{ path }}">
                    {% endif %}
                </div>
                <div>
                    <div class="text-justify">{{ post.description|raw }}</div>
                </div>
            </div>
        </div>
    {% endif %}
    {{ render(controller('AppBundle:BaseNews:readAlso', {'id' : post.translatable.id})) }}
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}
