{% extends '::admin.html.twig' %}

{% block body %}
        <section class="content-header">
            <h1>{{ 'video.show.all.pageTitle'|trans }}</h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> {{ 'Home'|trans }}</a></li>
                <li><a href="{{ path('admin') }}">{{ 'admin'|trans }}</a></li>
                <li class="active">{{ 'video.show.all.pageTitle'|trans }}</li>
            </ol>
        </section>
    <section class="content">
        <div class="box box-warning">
            <div class="box-header with-border">
                <div class="col-md-7">
                    <a href="{{ path('admin_gallery_video_create') }}" id="add_new_button" class="btn btn-sm btn-warning btn-flat">
                        <i class="fa fa-plus-circle"></i> {{ 'Add new'|trans }}
                    </a>
                </div>
                <div class="col-md-5">
                    {% include '::admin_patrials/perpage.html.twig' %}
                </div>
            </div>
        </div>
        <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title"></h3>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        {#<input type="text" name="table_search" class="form-control pull-right" placeholder="Search">#}
                        {#<div class="input-group-btn">#}
                            {#<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>#}
                        {#</div>#}
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th>{{ 'ID'|trans }}</th>
                        <th>{{ 'Title'|trans }}</th>
                        <th>{{ 'URL'|trans }}</th>
                        <th>{{ 'Creation'|trans }}</th>
                        <th>{{ 'Modify'|trans }}</th>
                        <th class="text-right">{{ 'Action'|trans }}</th>
                    </tr>
                    {% for v in videos %}
                        <tr>
                            <td>{{ v.id }}</td>
                            <td>
                                <a href="{{ path('admin_gallery_video_view_one', {id:v.id}) }}">
                                    {{ v.title }}
                                </a>
                            </td>
                            <td>{{ v.uri }}</td>
                            <td>{{ v.creation|date("d-m-Y H:i") }}</td>
                            <td>{{ v.modify|date("d-m-Y H:i") }}</td>
                            <td class="text-right" style="min-width: 100px">
                                <a href="{{ path('admin_gallery_video_edit', {id:v.id}) }}" class="btn btn-sm btn-success btn-flat">
                                    <span class="fa fa-edit"></span>
                                </a>
                                <a href="{{ path('admin_gallery_video_delete', {id:v.id}) }}" onclick="return confirm('Видалити відео?');" class="btn btn-sm btn-danger btn-flat">
                                    <span class="fa fa-trash"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <div class="col-md-12">
        {% block sub%}{% endblock %}
        <div class="navigation text-center">
            {{ knp_pagination_render(videos) }}
        </div>
    </div>
{% endblock %}