<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>AdminPanel</title>

<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

<link rel="stylesheet" media="screen" href="{{ asset('bundles/app/admin/css/bootstrap.min.css') }}" />
<link rel="stylesheet" media="screen" href="{{ asset('bundles/app/admin/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.css') }}" />
<link rel="stylesheet" media="screen" href="{{ asset('bundles/app/admin/css/adminlte/AdminLTE.min.css') }}" />
<link rel="stylesheet" media="screen" href="{{ asset('bundles/app/admin/css/adminlte/skins/skin-yellow.css') }}" />
<link rel="stylesheet" media="screen" href="{{ asset('bundles/app/admin/css/font-awesome.min.css') }}" />
<link rel="stylesheet" media="screen" href="{{ asset('bundles/app/admin/css/chosen.css') }}" />
<link rel="stylesheet" media="screen" href="{{ asset('bundles/app/admin/css/style.css') }}" />

<!--[if lt IE 9]>
<![endif]-->